<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinanceGestor</title>
</head>
<body>
    <% let totalValor = 0; %>
    <% Costs.reverse().forEach(function(cost) { %>
        <% if (cost.type === "Despesa") { %>
            <% totalValor -= cost.cost; %>
        <% } else { %>
            <% totalValor += cost.cost; %>
        <% } %>
    <% }); %>
    <h1>R$ <%= parseFloat(totalValor).toFixed(2) %></h1>
    <form method="post">
        <input type="text" name="name" id="name" required maxlength="30">
        <select name="category" id="category">
            <option value="Gastos Gerais" selected="selected">Gastos Gerais</option>
            <option value="Alimentação">Alimentação</option>
            <option value="Moradia">Moradia</option>
            <option value="Lazer e Entretenimento">Lazer e Entretenimento</option>
            <option value="Saúde">Saúde</option>
            <option value="Despesas Pessoais">Despesas Pessoais</option>
        </select>
        <select name="type" id="type">
            <option value="Despesa" selected="selected">Despesa</option>
            <option value="Receita">Receita</option>
        </select>
        <input type="number" name="cost" id="cost" step="0.010" required>
        <input type="submit" value="Criar">
    </form>
    <% Costs.reverse().forEach(function(cost) { %>
        <a id="a" href="/costs/<%= cost.id %>">
            <div class="<%= cost.type %>">
                <h3><%= cost.name %></h3>
                <h4><%= cost.category %></h4>
                <h4><%= cost.type %></h4>
                <h4><%= parseFloat(cost.cost).toFixed(2) %></h4>
            </div>
        </a>
    <% }); %>
    <style>
        #a{
            display: block;
            width: 200px;
            color: white;
            text-decoration: none;
            text-align: center;
        }
        .Despesa{
            background-color: rgb(226, 46, 82);
        }
        .Receita{
            background-color: rgb(46, 226, 121);
        }
    </style>
    <script>
        const typeSelection = document.getElementById("type");
        const categorySelection = document.getElementById("category");

        typeSelection.addEventListener('change', function(){

            categorySelection.innerHTML = '';
            
            if (typeSelection.value === "Despesa"){

                const gastosGeraisOption = document.createElement('option');
                gastosGeraisOption.value = "Gastos Gerais";
                gastosGeraisOption.textContent = "Gastos Gerais";
                gastosGeraisOption.selected = "selected";
                categorySelection.appendChild(gastosGeraisOption);
                
                const alimentacaoOption = document.createElement('option');
                alimentacaoOption.value = "Alimentação";
                alimentacaoOption.textContent = "Alimentação";
                categorySelection.appendChild(alimentacaoOption);

                const moradiaOption = document.createElement('option');
                moradiaOption.value = "Moradia";
                moradiaOption.textContent = "Moradia";
                categorySelection.appendChild(moradiaOption);

                const lazerOption = document.createElement('option');
                lazerOption.value = "Lazer e Entretenimento";
                lazerOption.textContent = "Lazer e Entretenimento";
                categorySelection.appendChild(lazerOption);

                const saudeOption = document.createElement('option');
                saudeOption.value = "Saúde";
                saudeOption.textContent = "Saúde";
                categorySelection.appendChild(saudeOption);

                const despPessoaisOption = document.createElement('option');
                despPessoaisOption.value = "Despesas Pessoais";
                despPessoaisOption.textContent = "Despesas Pessoais";
                categorySelection.appendChild(despPessoaisOption);

            }
            else{

                const salarioOption = document.createElement('option');
                salarioOption.value = "Salário";
                salarioOption.textContent = "Salário";
                categorySelection.appendChild(salarioOption);

                const rendaExtraOption = document.createElement('option');
                rendaExtraOption.value = "Renda Extra";
                rendaExtraOption.textContent = "Renda Extra";
                rendaExtraOption.selected = "selected";
                categorySelection.appendChild(rendaExtraOption);

                const premioOption = document.createElement('option');
                premioOption.value = "Prêmio";
                premioOption.textContent = "Prêmio";
                categorySelection.appendChild(premioOption);

            }
        document.addEventListener('DOMContentLoaded', updateCategoryOptions);

        typeSelection.addEventListener('change', updateCategoryOptions);
        });

    </script>
</body>
</html>